

{% extends 'base.html' %}

{% block content %}

    <form action="/screening-date-choice" method="POST">
        {% csrf_token %}
        {{ form }}
    <input type="submit" value="Submit">
    </form>

{#    <div class="container col-md-6">#}
{#        <h1 class="heading">Select date...</h1>#}
{##}
{#        <form method="POST" action="{% url 'date_choice' %}" id="date_choice">#}
{#            {% csrf_token %}#}
{#            <div class="input-group">#}
{#                <select class="custom-select" id="film_date" name="screening_date">#}
{#                    {% for screening_date in screening_dates %}#}
{#                        <option value="{{ screening_date }}">{{ screening_date|date:"Y-m-d" }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                <div class="input-group-append">#}
{#                    <button type="submit" class="btn btn-info btn-select">Ok</button>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{##}
{#    </div>#}


{% endblock %}

