

{% extends 'base.html' %}

{% block content %}


<h1 class="heading">Choose your film...</h1>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">

            {% for film in films.all %}
            <div class="col-md-4">
                <div class="card bg-dark mb-4 text-light">
                    <img class="card-img" src="{{ film.image.url }}" height=300 width=300 style="max-height: 100%; max-width: 100%; display: block;" />
                        <div class="card-body">
                            <p class="card-text">{{ film.title }}</p>
                        </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}

{#<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22528%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20528%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16783980adc%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A26pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16783980adc%22%3E%3Crect%20width%3D%22528%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22176.796875%22%20y%3D%22124.0640625%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">#}
{#<div class="card bg-dark text-white">#}
{#  <img class="card-img" src="..." alt="Card image">#}
{#  <div class="card-img-overlay">#}
{#    <h5 class="card-title">Card title</h5>#}
{#    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#    <p class="card-text">Last updated 3 mins ago</p>#}
{#  </div>#}
{#</div>#}
{#<div class="card-body">#}
    {# <p class="card-text">{{ job.summary }}</p>
{#                        </div>#}