.card-img {
    object-fit: cover;
}


h1 {
    text-align: left;
    font-style: italic;
}

.registration-container{
    position: relative;
    width: 600px;
    margin:0px auto;
}

.Absolute-Center {
    margin: auto;
    position: relative;
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding-top: 15%;
    padding-bottom: 15%;
}



body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url('/static/accounts/abstract-analog-art-390089.jpeg');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

