.card-img {
    object-fit: cover;
}


h1 {
    text-align: left;
    font-style: italic;
    text-shadow: 0px 0px 3px white;
}

.registration-container{
    position: relative;
    width: 600px;
    margin:0px auto;
    background-color: #138496;
}

.Absolute-Center {
    margin: auto;
    position: relative;
    width: 50%;
    height: 30%;
    min-width: 200px;
    max-width: 400px;
    padding-top: 4%;
    padding-bottom: 0%;

}

#logo {
    /*min-width: 100%;*/
    width: 600px;
    max-width: 100%;
}



body, html {
  height: 100%;
}

.btn-select {
    width: 75px;
}

body {
  /* The image used */
  background-image: url('/static/accounts/abstract-bg-edited.jpg');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
    text-shadow: 0px 0px 3px white;
}

h6 {
    text-shadow: 0px 0px 3px white;
}

